
body {
  background-color: black;
}

.App {
  background-color: rgb(33, 33, 33);
  height: 80px;
  box-shadow: white 0px 0px 40px;
}

nav {
  display: flex;
  color: white;
  font-size: 2em;
  justify-content: center;
  align-content: center;
}

.button{
  color: white;
  text-decoration: none;
  margin: 20px 5% 0px 5%;
  text-shadow: white 0px 0px 10px;
}