.navbar {
  /* background-color: rgba(255, 255, 255, 0.529); */
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-content: center;
}

.nav-item {
  /* color: rgb(0, 68, 117); */
  color: white;
  text-decoration: none;
  margin: 50px 5% 0px 5%;
  font-family: 'Dancing Script', cursive;
  font-size: 1.25em;
  z-index: 1;
  transition: color 400ms;
}

.nav-item:hover{
  color:rgb(0, 102, 255);
}

.logo {
  width: 180px;
  margin: 0px 60px;
  z-index: 1;
  filter: invert();
  transition: filter 400ms;
}

.logo:hover {
  filter: saturate(5)
}


.images_container {
  margin-top: 100px;
  display: flex;
  /* flex-direction: column; */
  /* align-items:center; */
  justify-content: center;
}

.category_images{
  border-radius: 5%;
}


.fade-in-image {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}